<head>
	
</head>

<body>

	<% if @user.reservations.count > 0 %>
		<table>
			<tr>
				<th>Time</th>
				<th>Date</th>
				<th>Restaurant Name</th>
				<th>Restaurant Address</th>
				<th>Restaurant Number</th>
			</tr>
			<% @user.reservations.each do |x| %>
				<tr>
					<td><%= x.reservation_datetime.strftime("%I:%M%p") %></td>
					<td><%= x.reservation_datetime.strftime("%b %d, %y") %></td>
					<td><%= x.restaurant.name%></td> 
					<td><%= x.restaurant.address%></td>
					<td><%= x.restaurant.phone%></td>
				</tr>
			<% end %>
		</table><br>
	<% else %>
		no reservations yet!
	<% end %>

	<%= link_to 'Index', root_path %>

</body>