<%= form_for [@restaurant, @reservation] do |f| %>

	<% if @reservation.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@reservation.errors.count, "error") %>prohibited this reservation from being saved:</h2>
			<ul>
				<% @reservation.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :email %><br>
		<%= f.text_field :email %><br>
	</p>

	<p>
		<%= f.hidden_field :restaurant_id, value: @restaurant.id %>
	</p>

	<p>
		<%= f.label :reservation_datetime %><br>
		<%= f.text_field :reservation_datetime %><br>
	</p>

	<p>
		<%= f.label :party_size %><br>
		<%= f.text_field :party_size %><br>
	</p>

	<p>
		<%= f.label :message %><br>
		<%= f.text_field :message %><br>
	</p>

	<p>
		<%= f.submit 'Save' %><br>
	</p>

<% end %>