<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>

Your reservation for <%= @restaurant.name %> is confirmed!

<p>
	<strong>email:</strong>
	<%= @reservation.email %>
</p>

<p>
	<strong>message:</strong>
	<%= @reservation.message %>
</p>

<p>
	<strong>date:</strong>
	<%= @reservation.date %>
</p> 

<p>
	<strong>time:</strong>
	<%= @reservation.time %>
</p> 

<p>
	<strong>date & time:</strong>
	<%= @reservation.reservation_datetime %>
</p> 

<p><%= link_to 'Index', root_path %></p>
