<h1>Restaurants#new</h1>
<p>Find me in app/views/restaurants/new.html.erb</p>

<%= form_for @restaurant do |f| %>
	
	<% if @restaurant.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@restaurant.errors.count, "error") %>prohibited this restaurant from being saved:</h2>
			<ul>
				<% @restaurant.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %><br>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %><br>
	</p>

	<p>
		<%= f.label :address %><br>
		<%= f.text_field :address %><br>
	</p>

	<p>
		<%= f.label :phone %><br>
		<%= f.text_field :phone %><br>
	</p>

	<p>
		<%= f.submit %><br>
	</p>

<% end %>